.activity-container {
  width: 21vw;
  height: 90vh;
  background: #e3ebf2;
  overflow: scroll;
  font-family: Inter;
  margin-bottom: 5px;
  
}
.submission,
.todo {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.submission-title,
.todo-title {
  font-weight: 700;
  color: #3d465f;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
.submission-body,
.todo-body {
  width: 18vw;
  height: 50vh;
  border-radius: 20px;
  margin-left: 0.5rem;
  margin-top: 0.9rem;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px 0px #bebcbc;
}
.line-break {
  background-color: #506cff !important;
  margin-top: 1.5rem !important;
}
.todo-body {
  margin-bottom: 1rem;
}

/*submission section*/
.submission-body,
.todo-body {
  margin-top: 0.5rem;
}
.submission-list,
.todo-list {
  margin-top: 0.6rem;
}
.submission-row,
.todo-row {
  display: flex;
  justify-content: space-evenly;
}
.div-submission-icon,
.div-arrow {
  margin-top: 0.4rem;
  width: 40px;
  height: 50px;
}
.div-submission-info,
.div-todo-info {
  display: flex;
}
.sub-detail-title {
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 0.7rem;
}
.sub-detail-due-date {
  font-size: 0.6rem;
}
.div-text-content,
.div-todo-content {
  display: flex;
  flex-direction: column;
}
.div-arrow {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.todo-detail-title {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: 10rem;
  height: 2.6rem;
  overflow: hidden;
}
.todo-row {
  justify-content: flex-start;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.todo-list {
  margin-top: 0.9rem;
}
.todo-icon {
  width: 35px;
  height: 35px;
  margin-top: 0.4rem;
}

.div-coding-image {
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 0.7rem;
  margin-bottom: 1rem;
}
.coding-image {
  box-shadow: 0px 1px 10px 0px #bebcbc;
  border-radius: 20px;
}
