.contact-content {
  background-image: url("../images/bg-img6.jpg");
  background-size: cover;
  height: 90vh;
  width: 80vw !important;
  color: #f5f5f5;  
}

.contact-section {
  background: rgba(25, 54, 223, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(39, 92, 226, 0.07);
  margin: 1rem;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: scroll;
  
}
.contact-grid{
  width: 20vw;
  height: 55vh;
  background: rgba(34, 39, 59, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(39, 92, 226, 0.07);

}
.contact-person-img{
 
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  margin-top: 2rem;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 5px  #9c9a9a;

}
.div-person-title{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
.person-name{
  font-size: 1.1rem;
}
.person-position{
  font-size: 0.9rem;
  color: #bebcbc;
}
.div-email, .div-phone-number{
  padding-left: 1.2rem;
  color: #dbd8d8;
}
.linkedin{
  margin-top: 1.3rem;
  margin-left: 25%;
  background: linear-gradient(to right,#085af8 ,#306ee5);
  background-color: #085af8;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 2px 19px;
  border: 0px solid #000;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.linkedin:hover{
  background: linear-gradient(to right,#085af8 ,#253ece);
 background-color: #1866c0;
}
.linkedin:active{
  transform: scale(0.95);
}
.fa-linkedin-square{
  margin-right: 7px;
}