.cm-grid-color {
  background-color: #43aca6 !important;
}
/*originai */
.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}
.nav {
  background-color: #085af8;
  padding: 0 1rem;
  position: sticky;
  max-width: 17rem;
  height: 2.7rem;
  margin-left: 1rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
}
.nav > ul {
  grid-auto-flow: column;
}
.nav > ul > li {
  margin: 0 0.5rem;
}
.nav > ul > li a,
.nav > ul > li .dropdown__title {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 1.125rem;
}
.nav > ul > li a:focus,
.nav > ul > li .dropdown__title:focus {
  outline: none;
}
.nav > ul > li > a,
.nav > ul > li .dropdown__title {
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
  transition: 280ms all 120ms ease-out;
  padding-top: 8px;
}
.nav > ul > li > a:hover,
.nav > ul > li .dropdown__title:hover,
.nav > ul > li > a:focus,
.nav > ul > li .dropdown__title:focus {
  border-top-color: #9fc9f3;
  color: #9fc9f3;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
.nav ul li {
  padding: 0;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown__title {
  display: inline-flex;
  align-items: center;
}
.dropdown .dropdown__title:after {
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 0.45);
  margin-left: 0.25em;
  transform: translateY(0.15em);
}
.dropdown .dropdown__menu {
  position: absolute;
  min-width: 24ch;
  max-width: 35ch;
  left: 50%;
  top: calc(100% - 0.25rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0.3;
  padding: 0.5em 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}
.dropdown .dropdown__menu a {
  color: #25316d;
  display: block;
  padding: 0.5em;
  opacity: 0;
  transition: 280ms all 120ms ease-out;
}
.dropdown .dropdown__menu a:hover {
  background-color: #9fc9f3;
}
.dropdown .dropdown__menu a:focus {
  outline: none;
  background-color: rgba(102, 51, 153, 0.25);
}
.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: calc(100% - 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}
.dropdown:hover .dropdown__title,
.dropdown:focus-within .dropdown__title {
  border-top-color: pink;
}
.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
.dropdown:hover .dropdown__menu a,
.dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}
.dropdown:hover:after,
.dropdown:focus-within:after {
  opacity: 1;
}
.div-course-material-section {
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: rgb(255, 255, 255);
  min-height: 70vh;
  padding: 15px;
  margin-top: 1rem;
  padding-top: 1.2rem;
}
.div-presentations-text-books {
  display: flex;
  justify-content: space-between;
}
.div-presentations,
.div-text-books {
  height: 58vh;
  width: 22vw;
  background-color: #246fff;
  border-radius: 20px;
}
.material-title {
  margin-top: 1.5rem;
  text-align: center;
  width: 14vw;
  background-color: #004adf;
  color: rgb(247, 247, 247);
  font-weight: 500;
  height: 5vh;
  padding-top: 0.2rem;
  border-radius: 0 15px 15px 0;
}
.material-section {
  overflow: scroll;
  margin: 1rem;
  background: #0c59f3;
  width: 19.5vw;
  height: 45vh;
  border-radius: 10px;
}
.cm-list {
  margin-top: 0.6rem;
}
.cm-row {
  display: flex;
  justify-content: space-between;
}
.div-cm-icon {
  margin-top: 0.4rem;
  width: 50px;
  height: 50px;
}
.resource-name {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #eeeeee; 
  max-width: 13vw;
  max-height: 4vh;
  overflow: hidden;
}
.div-download {
  margin-top: 0.2rem;
  width: 35px;
  height: 35px;
}
.div-recording-section {
  padding-top: 0.1rem;
  margin-top: 2rem;
  width: 52.5vw;
  border-radius: 15px;
  height: 60vh;
  background-color: #246fff;
}
.book-icon {
  width: 35px;
  height: 35px;
  margin-left: 0.6rem;
  margin-top: -0.1rem;
}
.div-recording{
  
  width:100%;
}
.rec-row{
width: 100%;
display: flex;
flex-wrap: wrap;
}

/*old 
.custom-select {
  position: relative;
  width: 100%;
  max-width: 25em;
  margin: 4em auto;
  cursor: pointer;
}
.select,
.label {
  display: block;
}
.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  height: 4em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.label {
  position: relative;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.label::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-left: 1px solid;
}
.open .label::after {
  content: "▲";
}
.select-1 {
  background: #21cf8f;
  border-bottom: 0.25em solid #1aa371;
}
.select-1:after {
  border-color: #1aa371;
}
.select-2 {
  background: #307ddb;
  border-bottom: 0.25em solid #2064b8;
}
.select-2:after {
  border-color: #2064b8;
}
.select-3 {
  background: #f2bb18;
  border-bottom: 0.25em solid #cc9b0b;
}
.select-3:after {
  border-color: #cc9b0b;
}
.select-4 {
  background: #db3d3d;
  border-bottom: 0.25em solid #c12424;
}
.select-4:after {
  border-color: #c12424;
}

option {
  margin-top: 0;
  padding: 10px;
} */

/*new dropdown /*


/* Please ❤ this if you like it! 


 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
.div-course-material{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
	background-color: #1f2029;
	overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}

*/
