.content-section {
  background-color: #e3ebf2;
  width: 58vw;
  height: 90vh;
  margin-left: 20vw;
  margin-top: -90vh;
  overflow: scroll;
  font-family: Inter;
}
.content-section::-webkit-scrollbar-thumb {
  background-color: #506cff;
}

.event-welcome-grid {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  height: 17vh;
  background-color: #506cff !important;
  margin: 1rem;
  border-radius: 20px;
}
.welcome-img {
  width: 16vw;
  height: 18vh;
  margin-top: -0.5rem;
}
.div-welcome-title {
  color: #ffffff;
  padding-left: 2rem;
  padding-top: 1.5rem;
}
.event-welcome-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.event-title {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #182747;
}
.div-event-body {
  margin: 1rem 0 1rem 1rem;
  padding-bottom: 0.4rem;
  width: 55vw;
  min-height: 125vh;
  background-color: #bcd5f7;
  border-radius: 25px;
  padding-top: 1.5rem;
}
.div-event {
  display: flex;
  margin: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 3rem;
  justify-content: space-around;
  align-items: center;
  width: 48vw;
  height: 23vh;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
}
.event-details {
  display: flex;
  flex-direction: column;
}
.event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #679bff;
  height: 9vh;
  width: 7vw;
  border-radius: 17px;
  margin-left: -4rem;
  position: relative;

  background: rgba(46, 113, 236, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
}
.event-month {
  padding-top: 0.2rem;
  color: #ffffff;
}
.event-day {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
.event-img {
  width: 18vw;
  height: 19vh;
  margin-left: -5rem;
}
.event-details {
  margin-left: -5rem;
}
.event-title-description {
  color: #25316d;
  font-weight: 600;
  margin-top: -1rem;
  font-size: 1.2rem;
  width: 25vw;
}
.event-sub-title {
  color: #80828c;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}
.event-refer,
.event-time {
  color: #4f5361;
  font-weight: 500;
  margin-bottom: -0.3rem;
}
.event-join-btn {
  margin-top: 2.5rem;
  margin-left: -5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 15px;
  color: #ffffff;
  background-color: #085af8;
  border-color: #085af8;
  padding: 5px;
  padding-top: 3px;
  width: 6rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}
