.grid-color {
  background-color: rgb(58, 141, 236) !important;
}
.notification-welcome-img {
  height: 12rem;
  margin-top: -2rem;
}
.div-notification-body {
  margin: 1rem 0 1rem 1rem;
  width: 55vw;
  height: 137vh;
  background-color: #8ca7d1;
  border-radius: 5px;
  padding-top: 1.5rem;
  
  
}
.div-notification-alter{
  width: 52vw;
  height: 23vh;
  border-radius: 35px;
  margin-left: 1.2rem;
  padding: 10px 4px 3px 15px;
  margin-bottom: 1.5rem;
  color: #d8d8d8;
  
  background: rgba(46, 113, 236, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(39, 92, 226, 0.07);
 
 
}
.div-notification-body-section-alter{
  margin-top: 0.2rem;
  font-size: 0.85rem;
}
.line-brak-notification{
  background-color: #0032fa;
  margin-top: 0.2rem !important;
  margin-left: -2px !important;
  margin-right: 7px !important;
}

.notifier-name{
  color: #fff ;
  font-weight: 500;
}
