.title-container {
  display: flex;
  justify-content: space-between;
  background-color: #1e42f5;
  margin-left: 20vw;
  height: 12vh;
  font-family: Inter;
}
.title-name {
  margin-left: 1vw;
  margin-top: 1vh;
}
.tab-title {
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.welcome-title {
  font-weight: 500;
  color: #c7cff7;
}
.msg-notify-icon {
  margin-top: 2vh;
}
.fa-bell , .notify-icn  {
  padding: 10px;
  color: #c7cff7;
}
.profile-details {
  margin-right: 2vw;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15vw;
  background: rgba(131, 145, 226, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  cursor: pointer;
}

.profile-details:active {
  transform: scale(0.98);
}
.profile-name {
  margin-top: -0vh;
  margin-left: 20px;
}
.user-name,
.user-sid {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(223, 223, 223);
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 9px;
  margin-left: 3px;
  box-shadow: 0px 0px 2px 3px #3a67e0;
}
.msg-notify-icon {
  margin-top: 20px;
  font-size: large;
  margin-left: 20vw;
  color: #182747;
}
