.admin-section {
    background-color: #e8ecf0;
    width: 80vw;
    height: 90vh;
    margin-left: 20vw;
    margin-top: -90vh;
    overflow: scroll;
    
  }
  .user-state-heading{
    font-size: 1.5rem;
    color: rgb(70, 68, 68);
    margin-left: 2rem;
    margin-bottom: 1rem;
    
  }
  .user-state-section{
    background-color: #ffffff;
    margin: auto;
    width: 60vw;
    height: 75vh;
    padding: 15px;
    padding-left: 2.5rem;

    overflow: scroll;
  }