.div-event-change-section{
    width: 74vw;
    height: 60vh;
    margin-left: 2rem;
}
.event-input{
    width: 27vw;
}
.div-admin-event-body{
    margin: auto;
    margin-top: 1rem;
}
.admin-event-title{
    margin-left: 2.5rem; 
    font-weight: 600;
}